/* 
! Тексттовые свойства
?font+
? font-family+
? font-style+
? font-variant+
? font-size+
? line-height+
? font-weight+

! Шрифтовые свойства
? text-align+
? vertical-align+(особое внимание)
http://htmlbook.ru/css/vertical-align
? letter-spacing+
? word-spasing+
? text-indent+
? text-transform+
? text-decoration+
? text-shadow+
? color+
? @font-face (подключение шрифтов разными способами)+(ocoбое внимание: трансфонтеры, GoogleFonts)
? word-wrap+
? white-space+(особое внимание)

!Блочно-строчная модель документа
? width, max-width, min-width
https://habr.com/ru/post/483634/
http://htmlbook.ru/samlayout/blochnaya-verstka/blochnaya-model
? padding+
? margin(схлопывание)+
http://htmlbook.ru/samlayout/blochnaya-verstka/skhlopyvayushchiesya-otstupy
? overflow+(особое внимание)
? стилизация ссылок+
? img+(особое внимание)
? display: inline-block+(особое внимание)
https://css-live.ru/articles/zagadochnye-otstupy-mezhdu-inlajn-blokami.html
? display: block+
? Валидатор (особое внимание)+
? git и github (особое внимание)+

!Оформление
? outline+
? border (transparent)+
? border-radius+
? opasity+
? visibility+
? box-shadow (filter:drop-shadow)+
* background: color image position size repeat attachment
? background-color+
? background-image+
? background-position+
? background-size
? background-repeat+
? background-attachment
*https://www.youtube.com/playlist?list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr


  !Псевдоклассы
  ? :first-child+
  ? :last-child+
  ? :nth-child()+
  ? :last-of-type+
  ? :first-of-type+

  !Псевдоэлементы
  ? ::first-line+
  ? ::first-letter+
  ? ::before+
  ? ::after+

  !Форматы изображений
  ?webp
  ? <picture>
  ?   <source srcset="img/pic.webp" type="image/webp">
  ?   <img src="img/pic.jpg" alt="pic" with="0" height="0">
  ? </picture>

  !< !-- Б.Э.М. -->

  !< !-- Блок -->
  < !-- НЕЗАВИСИМЫЙ объект. НЕ влияет на окружение (внешние объекты).

  ?Имя класса БЭМ блока: 

  1) Имя должно соответствовать содержанию либо конструкции Отвечать на вопрос "Что это?"
  2) Английский язык (Латиница) 
  3) Нижний регистр 
  4) Если слов несколько,
  разделяем дефисом (-). 
  5) НИКАКОЙ ИЕРАРХИИ ! ! ! 
  
  Мы можем вкладывать сколько угодно БЭМ блоков друг в друга,
  также БЭМ блоки можно вкладывать в БЭМ элементы -->
*/


/*! < !-- Элемент -->
< !-- ЗАВИСИМЫЙ объект от своего БЭМ блока
ВСЕГДА находится внутри своего БЭМ блока 
МОЖЕТ влиять на окружение (внешние объекты) 

/*?Имя класса БЭМ элемента: 

1) Всегда начинается с имени первого родительского БЭМ блока и отделяется двумя нижними подчеркиваниями (__) 
2) Имя должно соответствовать содержанию либо конструкции. Отвечать на вопрос "Что это?"
3) Английский язык (Латиница) 
4) Нижний регистр 
5) Если слов несколько,
разделяем дефисом (-). 
6) НИКАКОЙ ИЕРАРХИИ ! ! ! 

БЭМ элементы можно вкладивать в другие БЭМ элементы своего БЭМ блока --> */


/*! < !-- Модификатор -->
< !-- Позволяет вносить отличия для БЭМ блока либо БЭМ элемента 

/*?Имя класса БЭМ модификатора: 

1) Добавляется как еще один класс для БЭМ блока или БЭМ элемента. Начинается с полного имени БЭМ блока или БЭМ элемента и отделяется одним нижними подчеркиванием (_) 
2) Имя должно соответствовать вносимым модификациям. Отвечать на вопрос "какой? что изменяем?"
3) Английский язык (Латиница) 
4) Нижний регистр 
5) Если слов несколько,
разделяем дефисом (-). 
6) НИКАКОЙ ИЕРАРХИИ ! ! ! --> */

/*! < !-- Микс -->

< !-- Смесь БЭМ блока и БЭМ элемента для одного объекта. 
При этом БЭМ элемент может выступать в роли БЭМ модификатора --> */


/* !Позиционирование
? position: static;
? position: relative;
? position: absolute;
? position: fixed;
? position: sticky;



/* !Трансформации
? transform: translate(x,y);
? transform: scale(n,m);
? transform: rotate(a + deg);
? transform: skew(a + deg, b+deg);
? transform-origin;
? 
? 
? 
? 




*/


/* @import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap); */

/* @font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */


* {
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #f5f5f5;
}

.wrapper {
  
}

.header {
  
}

.main {
  min-height: 100vh;
}


/* ! --------------ИМЯ-БЛОКА------------------ */
.main {
  margin: 0 auto;
  
  padding: 50px 0px 100px 0px;
  background: #3f3c3c;
  min-height: 400vh;
}

.title {
  max-width: 700px;
  margin: 20px auto 20px;
  color: #ffffff;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
}

.parent-block {
  max-width: 200px;
  height: 200px;
  margin: 0 auto 100px;
  background: #ffffff;
  /* background: url(../img/Liza.jpeg) 0 0/cover no-repeat; */
  /* perspective: 400px; */
}


.child-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  
  font-size: 25px;
  line-height: 35px;
  text-align: center;

  background: #91aaca;
  color: #ffffff;
  transition: 0.6s ease-in-out 0.1s;
}



.translate:hover {
  transform: translate(30px, 30px);
}

.scale:hover {
  transform: scale(2, 2);
}

.rotate:hover {
  transform: rotate(360deg);
}

.skew:hover {
  transform: skew(0, 25deg);
}

.matrix:hover {
  transform: matrix(1.5,0.2,0.2,1.5,50,50);
}
.multiple:hover {
  transform: matrix(1.5,0.2,0.2,1.5,50,50);
}

.origin:hover {
  transform: rotate(45deg);
}

.list-item:nth-child(7) .child-block {
  transform-origin: 0 0;
}


.list-item:nth-child(8) .parent-block {
  perspective: 150px;
  perspective-origin: 100px 0;
}

.list-item:nth-child(8) .child-block:hover {
  transform: rotateX(-180deg);
}

.translate3d:hover {
  transform: translate3d(30px, 30px, 30px);
}

.rotate3d:hover {
  transform: rotate3d(10, 10, 10, 360deg);
}

.list-item:nth-child(11) .parent-block {
  perspective-origin: 0 0;
  perspective: 150px;
  transform-style: preserve-3d;
}

.list-item:nth-child(11) .child-block:hover {
  transform: scaleY(1.5);
}

.list-item:nth-child(12) .parent-block {
  /* perspective-origin: 0 0; */
  perspective: 150px;
}

.list-item:nth-child(12) .child-block:hover {
  transform-origin: 0 0; 
  transform: rotateY(145deg);
  backface-visibility: visible;
}



.test {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #4973c2;
  transform:
    scale(0.75) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  transition: 0.6s ease transform;
}

.test:hover {
  transform: scale(1.5);
}
